<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YY购物demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B1AD3C01C0C3CA200733E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B1AD3D91C0C3CA200733E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B1AD3E41C0C3CA200733E99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
